@import "tailwindcss";
.lunbo {
    position: relative;
}
img {
    width: 600px;
    height: 500px;
}
.dot{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.dotactive {
    background-color: white;
}
.allimg {
    
    transition: all .5s;
    /* position: absolute;
    left: 600px; */
}